
  {{#if blogs.length}}
  <div class="col-md-6 project-list">
    <h3>{{{title}}}</h3>
    <h4>Posted by {{{user.name}}} on {{{date_created}}}.</h2>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{title}}">{{entry}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

