<section class="content-card">
  <div class="col-md-12">

    {{!-- comment route to add comment - from home only --}}
    {{#if body}}
    <a href="/api/comment/{{id}}">
      {{else}}
      {{!-- dashboard route to update post - from dashboard only --}}
      <a href="/api/dashboard/update/{{id}}">
        {{/if}}
        <div class="content-header">
          <div class="item-flex">
            <h3>{{{title}}}</h3>
            <h5 class="signature">-- {{{user.username}}} {{{format_date date_created}}}.
            </h5>
          </div>
        </div>

        {{#if body}}
        <div class="row content-body">
          <div class="col-md-12">
            <p>{{{body}}}</p>
          </div>
        </div>
  </div>
  </a>
  {{/if}}

</section>

{{!-- if comments, render each comment --}}
{{#if comments.length}}
<div class="comments-header">
  <h4>Comments</h4>
</div>
{{#each comments as |comment|}}
{{> comments}}
{{/each}}
{{/if}}