<div class="col-md-6 project-list">
  <h3><a href="/blog/{{title}}">{{{title}}}</a></h3>
  <h4>Posted by {{{user.username}}} on {{{format_date date_created}}}.</h2>
    <div class="row mb-2">
      <div class="col-md-8">
        {{{body}}}
      </div>
    </div>
</div>